__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

venv/
env/
.venv/
ENV/

*.log
*.pot
*.pyc

.env
*.env

*.ckpt
*.pt
*.h5
*.onnx
*.pkl
*.joblib

.cache/
huggingface/

.vscode/
.idea

.DS_Store
Thumbs.db
